### import libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder

### import dataset

In [5]:
df = pd.read_csv("ordinal.csv")
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

### Feature Selection

In [6]:
df=df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

### train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=["purchased"]),df["purchased"],test_size=0.2,random_state=2)

### We use ordinal encoder for input variables

In [10]:
oe = OrdinalEncoder(categories=[["Poor","Average","Good"],["School","UG","PG"]])

In [12]:
x_train_oe=oe.fit_transform(x_train)
x_test_oe=oe.transform(x_test)

In [13]:
x_train_oe

array([[1., 2.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [0., 2.],
       [2., 2.],
       [0., 1.],
       [2., 2.],
       [2., 0.],
       [0., 2.],
       [1., 1.],
       [1., 0.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [0., 0.],
       [2., 2.],
       [0., 2.],
       [1., 2.],
       [2., 1.],
       [1., 1.],
       [2., 0.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [2., 0.],
       [1., 2.],
       [2., 2.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [2., 1.],
       [2., 1.],
       [2., 0.],
       [0., 2.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [0., 1.],
       [2., 0.]])

In [14]:
x_train

     review education
24  Average        PG
48     Good        UG
17     Poor        UG
12     Poor    School
27     Poor        PG
33     Good        PG
16     Poor        UG
2      Good        PG
25     Good    School
14     Poor        PG
30  Average        UG
5   Average    School
32  Average        UG
1      Poor        UG
29  Average        UG
35     Poor    School
41     Good        PG
19     Poor        PG
37  Average        PG
10     Good        UG
4   Average        UG
6      Good    School
3      Good        PG
20  Average    School
26     Poor        PG
38     Good    School
21  Average        PG
42     Good        PG
31     Poor    School
34  Average    School
7      Poor    School
49     Good        UG
11     Good        UG
18     Good    School
43     Poor        PG
22     Poor        PG
8   Average        UG
45     Poor        PG
15     Poor        UG
40     Good    School

### We use labelencoder for target variable

In [15]:
le = LabelEncoder()

In [16]:
y_train_le = le.fit_transform(y_train)
y_test_le = le.transform(y_test)

In [17]:
y_train_le

array([1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0])

In [18]:
y_train

24    Yes
48    Yes
17    Yes
12     No
27     No
33    Yes
16    Yes
2      No
25     No
14    Yes
30     No
5     Yes
32    Yes
1      No
29    Yes
35    Yes
41    Yes
19    Yes
37    Yes
10    Yes
4      No
6      No
3      No
20    Yes
26     No
38     No
21     No
42    Yes
31    Yes
34     No
7     Yes
49     No
11    Yes
18     No
43     No
22    Yes
8      No
45    Yes
15     No
40     No
Name: purchased, dtype: object